doctype html
html
  head
    title tankOverFlow
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="manifest" href="../manifest.json")
    link(rel='stylesheet' href="../style/main.css" async)
    link(rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet"
          href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
    link(rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
          type="text/css")
  body
    block content
    script(type="text/javascript" src = "../main.js")
    script(defer src="https://code.getmdl.io/1.3.0/material.min.js")
